# Qt-es
#
*.o

#*.pro
*.pro.user
========
*.pro.user.*
*~
*.cpp.autosave
*.cpp.autosave*

moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*build*

#Failed Patch
*.orig
*.rej

#Sublime-Projects
*.sublime-workspace
*.sublime-project
